/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --background-color: #050b2a;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --accent-color-translucent: rgba(255, 0, 112, 0.4);
  --decor-border-color: var(--accent-color);
  --accent-text-color: #000028;
  --title-text-color: #db00ff;

  --background-image: url(../images/cover-image-dark.png);

  .rec-text,
  .rec-text::after {
    display: flex;
  }
}
