/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --background-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --accent-color-translucent: rgba(50, 49, 45, 0.4);
  --decor-border-color: var(--text-color);
  --accent-text-color: var(--text-color);
  --title-text-color: #ffc2e6;

  --background-image: url(../images/cover-image-light.png);

  .rec-text,
  .rec-text::after {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff1f7;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --accent-color-translucent: rgba(50, 49, 45, 0.4);
    --decor-border-color: var(--text-color);
    --accent-text-color: var(--text-color);
    --title-text-color: #ffc2e6;

    --background-image: url(../images/cover-image-light.png);

    .rec-text,
    .rec-text::after {
      display: none;
    }
  }
}
