/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: url(/images/cover-image-dark.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--background-color);
  font-family: var(--font-main);
  font-size: var(--font-size);
}

.header {
  height: 100vh;
  min-height: 668px;
  /* padding: 10px; */
  display: grid;
  grid-template-rows: min-content 1fr 1fr;
  position: relative;
}

.rec-text {
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 19px;
  color: var(--accent-color);
  line-height: 25px;
  font-weight: 400;
  padding-right: 20px;
}

.rec-text::after {
  content: '';
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  inset-block-start: 50%; 
  inset-inline-end: 0px;      
  transform: translateY(-50%);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inset-block-start: 10px;      
  inset-inline-end: 10px;
  width: 25px;
  height: 25px;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inset-block-end: 10px;
  inset-inline-start: 10px;
  width: 25px;
  height: 25px;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color); 
  
}

.header__theme-menu {
  justify-self: end;
  margin-top: 75px;
  margin-right: 10px;
  line-height: 26px;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0;
  width: 70px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  background: transparent;
  border: none;
  padding: 0;
  color: var(--accent-color);
  text-transform: lowercase;
  cursor: pointer;
  width: 100%;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__title {
  align-self: flex-start;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  font-weight: 700;
  color: var(--title-text-color);
  text-transform: lowercase;
  margin-top: 65px;
  margin-left: 10px;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__description {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  font-weight: bold;
  line-height: 1.3;
  margin-top: 55px;
  margin-left: 10px;
  margin-right: 10px;
  max-height: 117px;
}



